@import "tailwindcss";
@config "../tailwind.config.ts";
@import "./tokens.css";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* @font-face {
  font-family: "SUIT Variable";
  src: url("../public/fonts//SUIT-Variable.woff2");
} */

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: [var(--font-suit-variable), var(--font-geist-sans)];
  --font-mono: [var(--font-suit-variable), var(--font-geist-mono)];
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);

  font-family: var(--font-suit-varialbe), Arial, Helvetica, sans-serif;

  /* 스크롤바 layout shift안되게 수정 */
  width: 100vw;
  overflow-x: hidden;
}

/* Utility class to hide scrollbar */
.scrollbar-hide {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
  /* Chrome, Safari and Opera */
}

/* Smooth scrolling optimization */
.touch-pan-y {
  -webkit-overflow-scrolling: touch;
  overscroll-behavior-y: contain;
  scroll-behavior: smooth;
}

/* 바텀시트로인한 바텀태그 클릭 불능 방지 */
@layer utilities {
  [data-vaul-drawer][role="dialog"]::after {
    pointer-events: none;
  }
}
