@import "tailwindcss";
@config "../tailwind.config.ts";
@import "./tokens.css";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* @font-face {
  font-family: "SUIT Variable";
  src: url("../public/fonts//SUIT-Variable.woff2");
} */

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: [var(--font-suit-variable), var(--font-geist-sans)];
  --font-mono: [var(--font-suit-variable), var(--font-geist-mono)];
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);

  font-family: var(--font-suit-varialbe), Arial, Helvetica, sans-serif;
}
