@theme {
  --radius-2: 0.125rem;
  --radius-4: 0.25rem;
  --radius-8: 0.5rem;
  --radius-12: 0.75rem;
  --radius-16: 1rem;
  --color-label-inverse: #ffffff;
  --color-label-normal: #33363d;
  --color-label-strong: #1e2124;
  --color-label-alternative: #464c53;
  --color-label-primary: #5d5fef;
  --color-label-disabled: #8a949e;
  --color-label-assistive: #6d7882;
  --color-background-normal: #f7f7f8;
  --color-background-strong: #33363d;
  --color-background-primary: #5d5fef;
  --color-background-alternative: #e6e8ea;
  --color-background-disabled: #b1b8be;
  --color-status-negative: #ea3429;
  --color-status-positive: #228738;
  --spacing-gap-2: 0.125rem;
  --spacing-gap-4: 0.25rem;
  --spacing-gap-8: 0.5rem;
  --spacing-gap-12: 0.75rem;
  --spacing-gap-16: 1rem;
  --spacing-gap-20: 1.25rem;
  --spacing-padding-2: 0.125rem;
  --spacing-padding-4: 0.25rem;
  --spacing-padding-8: 0.5rem;
  --spacing-padding-12: 0.75rem;
  --spacing-padding-16: 1rem;
  --spacing-padding-20: 1.25rem;
  --radius-round: 62.438rem;
  --border-normal: 0.062rem solid #cdd1d5;
  --font-fontFamilies-suit-variable: SUIT Variable;
  --leading-lineHeights-0: 140%;
  --leading-lineHeights-1: 120%;
  --leading-lineHeights-2: 140%;
  --leading-lineHeights-3: 140%;
  --leading-lineHeights-4: 140%;
  --leading-lineHeights-5: 120%;
  --leading-lineHeights-6: 120%;
  --leading-lineHeights-7: 140%;
  --font-weight-fontWeights-suit-variable-0: Bold;
  --font-weight-fontWeights-suit-variable-1: Regular;
  --font-weight-fontWeights-suit-variable-2: Medium;
  --text-fontSize-0: 24;
  --text-fontSize-1: 16;
  --text-fontSize-2: 16;
  --text-fontSize-3: 14;
  --text-fontSize-4: 14;
  --text-fontSize-5: 20;
  --text-fontSize-6: 20;
  --text-fontSize-7: 12;
  --tracking-letterSpacing-0: -1%;
  --tracking-letterSpacing-1: -1%;
  --tracking-letterSpacing-2: -1%;
  --tracking-letterSpacing-3: -1%;
  --tracking-letterSpacing-4: -1%;
  --tracking-letterSpacing-5: -1%;
  --tracking-letterSpacing-6: -1%;
  --tracking-letterSpacing-7: -1%;
  --non-mapped-paragraphSpacing-0: 0;
  --non-mapped-paragraphSpacing-1: 0;
  --non-mapped-paragraphSpacing-2: 0;
  --non-mapped-paragraphSpacing-3: 0;
  --non-mapped-paragraphSpacing-4: 0;
  --non-mapped-paragraphSpacing-5: 0;
  --non-mapped-paragraphSpacing-6: 0;
  --non-mapped-paragraphSpacing-7: 0;
  --non-mapped-textCase-none: none;
  --non-mapped-textDecoration-none: none;
  --spacing-paragraphIndent-0: 0px;
}