@theme {
  --color-Color-gray-5: #f7f7f8;
  --color-Color-gray-10: #e6e8ea;
  --color-Color-gray-20: #cdd1d5;
  --color-Color-gray-30: #b1b8be;
  --color-Color-gray-40: #8a949e;
  --color-Color-gray-50: #6d7882;
  --color-Color-gray-60: #58616a;
  --color-Color-gray-70: #464c53;
  --color-Color-gray-80: #33363d;
  --color-Color-gray-90: #1e2124;
  --color-Color-gray-95: #111111;
  --color-Color-black: #000000;
  --color-Color-white: #ffffff;
  --color-Color-red-5: #fde9e8;
  --color-Color-red-10: #fbd3d0;
  --color-Color-red-20: #f8b9b5;
  --color-Color-red-30: #f2847d;
  --color-Color-red-40: #ee584f;
  --color-Color-red-50: #ea3429;
  --color-Color-red-60: #ce1308;
  --color-Color-red-70: #890d06;
  --color-Color-red-80: #620904;
  --color-Color-red-90: #3b0502;
  --color-Color-yellow-5: #fff7e5;
  --color-Color-yellow-10: #ffe4ad;
  --color-Color-yellow-20: #ffd070;
  --color-Color-yellow-30: #ffc247;
  --color-Color-yellow-40: #ffb114;
  --color-Color-yellow-50: #e39902;
  --color-Color-yellow-60: #c08102;
  --color-Color-yellow-70: #8b5e04;
  --color-Color-yellow-80: #634303;
  --color-Color-yellow-90: #4a3202;
  --color-Color-green-5: #ebfaee;
  --color-Color-green-10: #c2f0cc;
  --color-Color-green-20: #85e099;
  --color-Color-green-30: #48d166;
  --color-Color-green-40: #2bab47;
  --color-Color-green-50: #228738;
  --color-Color-green-60: #1d722f;
  --color-Color-green-70: #196228;
  --color-Color-green-80: #13491e;
  --color-Color-green-90: #0c3114;
  --color-Color-blue-5: #e7f4fe;
  --color-Color-blue-10: #b6ddfb;
  --color-Color-blue-20: #86c7f9;
  --color-Color-blue-30: #55b1f6;
  --color-Color-blue-40: #1694f3;
  --color-Color-blue-50: #0576cc;
  --color-Color-blue-60: #045c9f;
  --color-Color-blue-70: #03487c;
  --color-Color-blue-80: #023a64;
  --color-Color-blue-90: #01233c;
  --color-Color-primary-5: #e7e7fd;
  --color-Color-primary-10: #dadafc;
  --color-Color-primary-20: #c7c8fa;
  --color-Color-primary-30: #abacf7;
  --color-Color-primary-40: #8b8cf4;
  --color-Color-primary-50: #5d5fef;
  --color-Color-primary-60: #3033e8;
  --color-Color-primary-70: #1719cf;
  --color-Color-primary-80: #1214a1;
  --color-Color-primary-90: #0a0b5c;
  --spacing-Number-0: 0rem;
  --spacing-Number-1: 0.062rem;
  --spacing-Number-2: 0.125rem;
  --spacing-Number-4: 0.25rem;
  --spacing-Number-8: 0.5rem;
  --spacing-Number-12: 0.75rem;
  --spacing-Number-14: 0.875rem;
  --spacing-Number-16: 1rem;
  --spacing-Number-18: 1.125rem;
  --spacing-Number-20: 1.25rem;
  --spacing-Number-24: 1.5rem;
  --spacing-Number-28: 1.75rem;
  --spacing-Number-32: 2rem;
  --spacing-Number-40: 2.5rem;
  --spacing-Number-48: 3rem;
  --spacing-Number-56: 3.5rem;
  --spacing-Number-64: 4rem;
  --spacing-Number-72: 4.5rem;
  --spacing-Number-80: 5rem;
  --spacing-Number-999: 62.438rem;
  --radius-2: 0.125rem;
  --radius-4: 0.25rem;
  --radius-8: 0.5rem;
  --radius-12: 0.75rem;
  --radius-16: 1rem;
  --color-label-inverse: #ffffff;
  --color-label-normal: #33363d;
  --color-label-strong: #1e2124;
  --color-label-alternative: #464c53;
  --color-label-primary: #5d5fef;
  --color-label-disabled: #8a949e;
  --color-label-assistive: #6d7882;
  --color-background-normal: #f7f7f8;
  --color-background-strong: #33363d;
  --color-background-primary: #5d5fef;
  --color-background-alternative: #ffffff;
  --color-background-disabled: #b1b8be;
  --color-status-negative: #ea3429;
  --color-status-positive: #228738;
  --spacing-gap-2: 0.125rem;
  --spacing-gap-4: 0.25rem;
  --spacing-gap-8: 0.5rem;
  --spacing-gap-12: 0.75rem;
  --spacing-gap-16: 1rem;
  --spacing-gap-20: 1.25rem;
  --spacing-padding-2: 0.125rem;
  --spacing-padding-4: 0.25rem;
  --spacing-padding-8: 0.5rem;
  --spacing-padding-12: 0.75rem;
  --spacing-padding-16: 1rem;
  --spacing-padding-20: 1.25rem;
  --radius-round: 62.438rem;
  --border-normal: 0.062rem solid #cdd1d5;
  --font-fontFamilies-suit-variable: SUIT Variable;
  --leading-lineHeights-0: 140%;
  --leading-lineHeights-1: 120%;
  --leading-lineHeights-2: 140%;
  --leading-lineHeights-3: 140%;
  --leading-lineHeights-4: 140%;
  --leading-lineHeights-5: 120%;
  --leading-lineHeights-6: 120%;
  --leading-lineHeights-7: 140%;
  --font-weight-fontWeights-suit-variable-0: Bold;
  --font-weight-fontWeights-suit-variable-1: Regular;
  --font-weight-fontWeights-suit-variable-2: Medium;
  --text-fontSize-0: 24;
  --text-fontSize-1: 16;
  --text-fontSize-2: 16;
  --text-fontSize-3: 14;
  --text-fontSize-4: 14;
  --text-fontSize-5: 20;
  --text-fontSize-6: 20;
  --text-fontSize-7: 12;
  --tracking-letterSpacing-0: -1%;
  --tracking-letterSpacing-1: -1%;
  --tracking-letterSpacing-2: -1%;
  --tracking-letterSpacing-3: -1%;
  --tracking-letterSpacing-4: -1%;
  --tracking-letterSpacing-5: -1%;
  --tracking-letterSpacing-6: -1%;
  --tracking-letterSpacing-7: -1%;
  --non-mapped-paragraphSpacing-0: 0;
  --non-mapped-paragraphSpacing-1: 0;
  --non-mapped-paragraphSpacing-2: 0;
  --non-mapped-paragraphSpacing-3: 0;
  --non-mapped-paragraphSpacing-4: 0;
  --non-mapped-paragraphSpacing-5: 0;
  --non-mapped-paragraphSpacing-6: 0;
  --non-mapped-paragraphSpacing-7: 0;
  --non-mapped-textCase-none: none;
  --non-mapped-textDecoration-none: none;
  --spacing-paragraphIndent-0: 0px;
}